    <section class="relative grid overflow-hidden place-items-center">

        <img src="assets/images/o_Alchemy_BG_No_FG.jpg" alt="" aria-hidden="true" class="absolute inset-0 w-full h-full object-cover object-center opacity-10 pointer-events-none" />
        
        <div class="relative grid grid-cols-1 gap-8 w-full max-w-3xl z-10 lg:mt-0">
            <div class="flex flex-col gap-4 col-span-2 lg:col-span-1 text-center px-10">
                <h1>Hi, I'm Alessa!</h1>
                <h2 class="text-xl">A Shader Witch, Technical Artist & cutesie Goth that loves Kittens.</h2>
            </div>

            <div class="flex flex-col gap-6 col-span-2 lg:col-span-1 text-center px-10">
                <p>My website is currently a work in progress, and I'm working to make it something really special. If you're interested in tutorials on <b>Shaders</b>, <b>Tools Development</b>, and <b>Slate/C++</b> for Unreal Engine then check back later!</p>
                <p class="text-md text-[var(--color-brand-primary)]"><i class="fa-regular fa-heart"></i></p>
            </div>
        </div>

    </section>