
    <p class="badgebar flex--center">
        <span class="badge">
            <span class="badge__title"><i class="fa-solid fa-cat"></i> Author</span><span class="badge__content">Alessa Baker</span>
        </span>
        <span class="badge">
            <span class="badge__title"><i class="fa-solid fa-star"></i> Unreal Version</span><span class="badge__content">5.3+</span>
        </span>
        <span class="badge">
            <span class="badge__title"><i class="fa-solid fa-info-circle"></i> Status</span><span class="badge__content">Done</span>
        </span>
    </p>
