<div class="footer">
    <div class="footer__inner">
        <div class="footer__inner__left">
            <div class="codekittenlogo">
                <div class="codekittenlogo__logo"><img src="/CodekittenLogo.svg" alt=""></div>
                <div class="codekittenlogo__text">CODEKITTEN</div>
            </div>
            <p>Website of Alessa "Codekitten" Baker. {{ .Site.Params.tagline }} ❤️</p>
            <ul class="socialbar">
                <li class="socialbar__item"><a href="http://github.com/Sythenz" target="_blank"><span class="fa-brands fa-github"></span></a></li>
                <li class="socialbar__item"><a href="http://twitter.com/Codekitten0" target="_blank"><span class="fa-brands fa-x-twitter"></span></a></li>
                <li class="socialbar__item"><a href="http://youtube.com/AlessaBaker" target="_blank"><span class="fa-brands fa-youtube"></span></a></li>
                <li class="socialbar__item"><a href="http://instagram.com/codekittah" target="_blank"><span class="fa-brands fa-instagram"></span></a></li>
            </ul>
        </div>
        <div class="footer__inner__center">

        </div>
        <div class="footer__inner__right">
            <p>PAGES</p>
            <ul class="footer__nav">
                <li class="footer__nav__item"><a href="">Home</a></li>
                <li class="footer__nav__item"><a href="">About</a></li>
                <li class="footer__nav__item"><a href="">Shaderwit.ch</a></li>
                <li class="footer__nav__item"><a href="">Contact</a></li>
                <li class="footer__nav__item"><a href="">Book Consultation</a></li>
            </ul>
        </div>
    </div>
</div>