<section class="sect bg--primary">
    <div class="sect__inner text--center flex--center">
        <h1>Hi, I'm Alessa!</h1>
        <p>Shader Witch, Graphics Programmer and cutesie goth who loves kittens. <br /> My website is currently under construction at the moment, please check back later!</p>
<!--        <p class="nomargin"><button class="button button&#45;&#45;cta"><i class="fa-solid fa-cat"></i> Book Now</button></p>
        <p class="nomargin"><small>[ Will be fun :3 ]</small></p>

        <p class="badgebar">
            <span class="badge">
                <span class="badge__title"><i class="fa-solid fa-cat"></i> Author</span><span class="badge__content">Alessa Baker</span>
            </span>
            <span class="badge">
                <span class="badge__title"><i class="fa-solid fa-star"></i> Unreal Version</span><span class="badge__content">5.3+</span>
            </span>
            <span class="badge">
                <span class="badge__title"><i class="fa-solid fa-info-circle"></i> Status</span><span class="badge__content">Done</span>
            </span>
        </p>-->
        
    </div>
    <div class="sect__background"></div>
</section>