body {
    background: $background;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.sect {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    min-height: 500px;
    overflow: hidden;

    &__inner {
        position: relative;
        z-index: 1;
        flex: 1;
        max-width: 1200px;
    }
    
    &__background {
        position: absolute;
        top: 0;
        z-index: 0;
        opacity: 0.3;
    }
}

.bg {
    &--primary {
        background: $primary;
    }
}

.flex {
    &--center > * {
        align-items: center;
        justify-content: center;
    }
    &--left > * {
        align-items: left;
        justify-content: left;
    }
    &--right > * {
        align-items: right;
        justify-content: right;
    }
}
