body {
    background: $background;
    color: white;
    font-family: 'Work Sans', sans-serif;
}

.sect {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    min-height: 500px;
    overflow: hidden;

    &:first-child {
        padding-top: 80px;
    }
    
    &--about {
        align-items: stretch;
        justify-content: stretch;
        padding: 0;
        overflow: hidden;
        img {
            display: block;
            margin: 0;
        }
    }
    
    &__inner {
        display: flex;
        position: relative;
        z-index: 1;
        flex: 1;
        max-width: 1200px;
        
        &__left {
            padding: 20px;
        }
        
        &__right {
            padding: 20px;
            flex: 1;
        }
    }
    
    &__background {
        position: absolute;
        z-index: 0;
        opacity: 0.1;
        &--fixed {
            position: fixed;
            top: -200px; 
        }
        &--fullopacity {
            opacity: 1;
        }
        
        &--lowopacity {
            opacity: 0.1;
        }
    }
}

.bg {
    &--primary {
        background: darken($primary, 5%);
    }
    
    &--background {
        background: #202020;
    }
    
    &--altbackground {
        background: #181818;
    }
}

.flex {
    display: flex;
    
    &--center {
        align-items: center;
        justify-content: center;
    }
    
    &--left {
        align-items: flex-start;
        justify-content: flex-start;
    }
    &--right {
        align-items: flex-end;
        justify-content: flex-end;
    }
    
    &--spacer {
        align-items: stretch;
        justify-content: stretch;
        flex: 1;
    }
    
    &--column {
        flex-flow: column;
    }
    
    &--row {
        flex-flow: column;
        
        @include respond-to('small')
        {
            flex-flow: row;
        }
    }
}
