body {
    background: $background;
    color: white;
    font-family: 'Work Sans', sans-serif;
}

.hero {
    position: relative;
    padding-top: calc(100px + #{$headersize});
    padding-bottom: 150px;
    z-index: 0 !important;
}

.wrapper {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    z-index: 1;
}

.row {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    z-index: 1;
    
    @include respond-to('small')
    {
        flex-direction: column;
    }

    @include respond-to('medium')
    {
        flex-direction: row;
    }
    
    @include respond-to('large')
    {
        flex-direction: row;
    }
    
    .column {
        position: relative;
        display: flex;
        flex-direction: column;
        z-index: 2;
        padding: 25px;
        flex: 1;
        
        &--2 {
            flex: 2;
        }

        @include respond-to('small')
        {
            padding: 0;
        }
        
        @include respond-to('large')
        {
            padding: 0;
        }
        
        &__inner {
            padding: 20px;
            margin: 20px;
        }
        
        img {
            width: 100%;
        }
    }
}

.text {

    &--left, &--right, &--center {
        text-align: center;
    }

    @include respond-to('small')
    {
        &--left {
            text-align: left;
        }
        &--right {
            text-align: right;
        }
        &--center {
            text-align: center;
        }
    }
    
    @include respond-to('middle')
    {
        &--left {
            text-align: left;
        }
        &--right {
            text-align: right;
        }
        &--center {
            text-align: center;
        }
    }
    
    @include respond-to('large')
    {
        &--left {
            text-align: left;
        }
        &--right {
            text-align: right;
        }
        &--center {
            text-align: center;
        }
    }
}

.flex {
    display: flex;
    
    &--center {
        align-items: center;
        justify-content: center;
    }
    
    &--left {
        align-items: flex-start;
        justify-content: flex-start;
    }
    &--right {
        align-items: flex-end;
        justify-content: flex-end;
    }
    
    &--spacer {
        align-items: stretch;
        justify-content: stretch;
        flex: 1;
    }
    
    &--column {
        flex-flow: column;
    }
    
    &--row {
        flex-flow: column;
        
        @include respond-to('small')
        {
            flex-flow: row;
        }
    }
}

.bg {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    
    &--fixed {
        position: fixed;
    }
    
    img {
        opacity: 0.1;
    }
    
    &--primary {
        background: darken($primary, 10%);
    }
    
    &--secondary {
        background: #242424;
    }
    
    &--tertiary {
        background: #202020;
    }
    
    
}