.nav {
    display: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    height: 100%;
    
    @include respond-to('large')
    {
        display: flex;
    }
    
    &__item {
        flex: 1;
        padding: 0 20px;
        align-self: center;
        opacity: 0.7;
        transition: 0.3s all;
        line-height: 1rem;

        a { color: white; }

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }

        &:hover {
            opacity: 1;
        }
    }
}
