.pfp {
    position: relative;
    border-radius: 999px;
    max-height: 256px;
    box-shadow: $deep-shadow;
    border: 2px solid rgba(255,255,255,0.1);
}

.socialbar {
    display: inline-flex;
    font-size: 1.5rem;
    @include respond-to('small')
    {
        justify-items: center;
        align-items: center;
        justify-content: center;
    }
    @include respond-to('large')
    {
        justify-content: left;
        align-items: flex-start;
    }
    &__item {
        padding: 0px 10px;
        opacity: 0.8;
        transition: 0.3s all;
        cursor: pointer;

        a {
            color: white;
        }

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }

        &:hover {
            opacity: 1;
        }

        span {
            border-radius: 99px;
            padding: 10px;
            border: 2px solid darken(white, 80%);
        }
    }
}