h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 3.25rem;
    font-weight: 200;
    margin: $default-margin;
    text-shadow: $deep-shadow;
}

h2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 2.7rem;
    font-weight: 200;
    margin: $default-margin;
    text-shadow: $deep-shadow;
}

h3 {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    margin: $default-margin;
    text-shadow: $deep-shadow;
}

h4 {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 2rem;
    margin: $default-margin;
    text-shadow: $deep-shadow;
}

p {
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    margin: 1rem 0;
    text-shadow: $deep-shadow;
    line-height: 1.5rem;
}

a {
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    color: lighten($primary, 15%);
}

small {
    font-size: 0.75rem;
    color: darken(white, 15%);
    text-shadow: $deep-shadow;
}

.text {
    &--left > * {
        text-align: left;
    }
    
    &--right > * {
        text-align: right;
    }
    
    &--center > * {
        text-align: center;
    }
}

.nomargin {
    margin: 6px;
}
