{% macro header(nav=true) %}
    <div id="header" class="header fixed top-0 left-0 right-0 flex items-center gap-8 z-50">
        
        <a href="/" class="h-full">
            <img src="/images/CodekittenLogo.svg" alt="Codekitten Logo" class="codekitten-logo">
        </a>

        {% if nav %}
            {% include "partials/nav.njk" %}

            {% from "macros/socials.njk" import socials %}
            {{ socials("hidden lg:flex", "") }}
        {% else %}
            <nav class="flex gap-8 ml-auto list-none items-center"></nav>
                
            {% from "macros/socials.njk" import socials %}
            {{ socials("flex", "") }}
        {% endif %}

    </div>

    {% if nav %}
    {% include "partials/mobilesidebar.njk" %}
    {% endif %}
{% endmacro %}

