@layer theme, base, components, utilities;
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

/* Ensure values align with Tailwind 4.x values for consistency, since we cant reference them directly. */
@theme {
    --font-sans: "Work Sans", ui-sans-serif, system-ui;
    --color-brand-primary: #b85787;
    --color-brand-secondary: #b85787;
    --color-brand-header: var(--color-brand-primary);
    --color-separator: color-mix(in srgb, var(--color-brand-primary) 80%, white 15%);
    --color-brand-warning: #be9904;
    --color-brand-info: #1d80d1;
    --color-brand-success: #409443;
    --color-brand-error: #da3c30;
    --color-background: #121212;
    --color-background-alt: #141414;
    --color-background-footer: #080808;
    --color-background-copyright: #050505;
    --color-text: rgba(255,255,255,0.8);
    --color-text-bold: rgba(255,255,255,1);
    --link-header: rgba(255,255,255,0.5);
    --link: color-mix(in srgb, var(--color-brand-primary), white 30%);
    --link-weight: 400;
    --social-scale-offset: 1.0;
    --social-padding-offset: 4;
    --social-gap: calc(var(--spacing) * 2);
    --opacity-background: 0.1;
    --opacity-hover: var(--link);
    --text-nav: var(--text-xs);
    --text-main: 1rem;
    --text-h4: var(--text-lg);
    --text-h3: var(--text-xl);
    --text-h2: var(--text-3xl);
    --text-h1: var(--text-5xl);
    --font-h1: 100;
    --header-padding-scrolled: calc(var(--spacing)*4);
}

.light, [data-theme="lowvision"] {
    --opacity-background: 0.05;
    --link-weight: 500;
    --social-scale-offset: 1.2;
    --social-gap: calc(var(--spacing) * 4);
    --text-nav: var(--text-base);
    --text-main: 1.25rem;
    --text-h2: 1.3rem;
    --text-h1: 2.6rem;
    --font-h1: 400;
    --header-padding-scrolled: calc(var(--spacing)*3);
}

@layer base {
    
    body, html {
        @apply font-sans text-white bg-[var(--color-background)] text-[var(--text--main)];
    }

}

@layer utilities {

    .font-awesome-social {
        @apply align-[-0.08em] text-xl leading-none rounded-sm p-2 border border-white/10 hover:border-white/40;
    }

    .codekitten-logo {
        @apply h-full w-auto block translate-x-[4.8%] translate-y-[7.7%];
    }

    .sidebar {
        @apply border-l-1 border-[var(--color-separator)];
    }

    .header-scrolled {
        @apply bg-[var(--color-brand-header)] h-16 p-[var(--header-padding-scrolled)] transition-all duration-200 ease-in-out;
    }

    .header {
        @apply h-32 p-10 px-12 transition-all duration-200 ease-in-out;
    }

    a.header {
        @apply text-[var(--link-header)]! hover:text-white/100! transition-colors duration-200 ease-in-out;
    }
    
    .hover-opacity {
        @apply opacity-[var(--opacity-hover)] hover:opacity-100 transition-opacity duration-200 ease-in-out;
    }

    .hover-scale {
        @apply transform transition-transform duration-100 ease-in-out hover:scale-110 cursor-pointer text-white/40! hover:text-white/100!;
    }

    .layer {
        @apply absolute inset-0 w-full h-full object-contain pointer-events-none transition-transform duration-300;
    }

    h1 {
        font-size: var(--text-h1);
        font-weight: var(--font-h1);
    }

    p {
        font-size: var(--text-main);
        color: var(--color-text);
    }

    h2 {
        font-size: var(--text-h2);
    }

    h3 {
        font-size: var(--text-h3);
    }
    
    h4 {
        font-size: var(--text-h4);
    }

    .social {
        @apply p-1.25 border rounded-sm border-white/20 hover:border-white/50 transition-all duration-200 ease-in-out transform-[scale(var(--social-scale-offset))] text-white/100;
    }

    section {
        @apply odd:bg-[var(--color-background-alt)] even:bg-[var(--color-background)];
    }

    a {
        @apply text-[var(--link)] font-[var(--link-weight)] hover:text-white/100 transition-colors duration-200 ease-in-out;
    }

    a.footer-link {
        @apply text-white/20 font-[var(--link-weight)] hover:text-white/100 transition-colors duration-200 ease-in-out;
    }

    b {
        @apply font-semibold;
        color: var(--color-text-bold);
    }
}