
{% include "partials/head.njk" %}

  {% include "partials/header.njk" %}
  
  <body class="bg-[var(--color-background)] min-h-screen flex flex-col">
    {% block content %}{% endblock %}
  </body>

{% include "partials/footer.njk" %}