
  {% include "partials/head.njk" %}

  {% from "macros/header.njk" import header %}
    {{ header(true) }}
    
    <body class="bg-[var(--color-background)]">
      {% block content %}{% endblock %}
    </body>

  {% include "partials/footer.njk" %}