{% if currentMode == 'construction' %}
  {% include "layouts/landing.njk" %}
{% else %}
    {% extends "layouts/base.njk" %}
            
    {% block content %}

      {% include "partials/hero.njk" %}

      {% from "macros/imagesection.njk" import image_section %}

      {% call image_section("right", "h-[30vh]") %}
        <h1>Test</h1>
      {% endcall %}

      {% call image_section("left", "h-[70vh]", "/assets/images/Blender_Sorcery_BG.png", "/assets/images/Blender_Sorcery_cauldron_noBG.png") %}
        <h1>Test</h1>
      {% endcall %}

      {% call image_section("left", "h-[50vh]") %}
        <h1>Test</h1>
      {% endcall %}

      {% call image_section("left", "h-[55vh]", "/assets/images/Technical_arts_BG.png", "/assets/images/Technical_arts_nodesk_noBG.png") %}
        <h1 class="uppercase">Shader Witchcraft</h1>
        <p>Materials and Shader work in the field of game development have always been considered a form of Black Magic &trade; - click below to find out how you can get started on learning to become a Shader Witch!</p>
      {% endcall %}

    {% endblock %}

{% endif %}
