{% extends "layouts/base.njk" %}
{% block content %}
    <main class="mt-50 min-h-screen container mx-auto">
        {% block postContent %}
            {{ content | safe }}
        {% endblock %}
    </main>
{% endblock %}