{% extends "layouts/base.njk" %}
{% block content %}
    <main class="flex-1 mt-50 mb-25 container mx-auto">
        {% block postContent %}
            {{ content | safe }}
        {% endblock %}
    </main>
{% endblock %}