        <div class="bg-[var(--color-background-copyright)] p-3 text-center">
            <p class="m-0 text-xs! text-white/20">&copy; 2025, Codekitten. All rights reserved.</p>
            <p class="m-0 text-xs! text-white/20">Codekitten & the "Shader Witch" character, are copyright to Alessa Baker, Artist <a href="">Tobi Baraccani</a>.</p>
        </div>