<nav class="flex gap-8 ml-auto list-none items-center">
    
    <li class="hidden uppercase text-sm lg:inline-block hover-opacity">
        <a href="/">Home</a>
    </li>
    <li class="hidden uppercase text-sm lg:inline-block hover-opacity">
        <a href="/about">Shader Witchcraft</a>
    </li>
    <li class="hidden uppercase text-sm lg:inline-block hover-opacity">
        <a href="/contact">Tools Alchemy</a>
    </li>
    <li class="hidden uppercase text-sm lg:inline-block hover-opacity">
        <a href="/store">Store</a>
    </li>

    <label for="sidebarToggle" class="inline-block lg:hidden px-4 cursor-pointer">
        <i class="fa-solid fa-bars"></i>
    </label>
</nav>
