---
title: 404 - Oops! Its missing :'c
layout: layouts/post.njk
permalink: 404.html
eleventyExcludeFromCollections: true
---

<h1>Page Not Found</h1>
<p>Sorry, the page you are looking for does not exist.</p>