<div class="items-center grid grid-cols-1 sm:grid-cols-3 gap-y-8 sm:gap-10 md:max-w-6xl m-auto px-8 my-32 lg:mt-8">
    <div class="col-span-1 px-[20dvw] sm:px-0">
        <img src="/images/me.png" class="w-full rounded-full border border-white/50 shadow-2xl" alt="Alessa 'Codekitten' Baker">
    </div>
    <div class="col-span-2 md:col-span-2 flex flex-col gap-4 text-center sm:text-left">
        <div class="flex flex-col gap-2">
            <h2>Hey there! ✨ </h2>
            <p>My name is Alessa Baker, currently working at <a href="">Noodle Cat Games</a>.</p>
        </div>

        <div class="flex flex-col gap-4">
            <p>I'm a Technical Artist working in the games industry with 16 years Unreal Engine experience.</p>
            <p>I enjoy contributing and figuring out chaotic shader issues, creating tools to assist artists and coming up with creative solutions to problems that require a specific technical mindset.</p>
        </div>
    </div>
</div>