<div class="items-center grid grid-cols-1 sm:grid-cols-3 gap-y-8 sm:gap-8 sm:max-w-5xl px-[15%] sm:px-8 m-auto my-24">
    <div class="col-span-1">
        <img src="/images/me.png" class="w-full rounded-full border border-white/50 shadow-2xl" alt="Alessa 'Codekitten' Baker">
    </div>
    <div class="col-span-2 md:col-span-2 flex flex-col gap-4 text-center sm:text-left">
        <p>Hey there! My name is Alessa Baker, currently working at <a href="">Noodle Cat Games</a>. I'm a Technical Artist working in the games industry with 16 years Unreal Engine experience.</p>
        <p>I enjoy contributing and figuring out chaotic shader issues, creating tools to assist artists and coming up with creative solutions to problems that require a specific technical mindset.</p>
    </div>
</div>