<div class="codekittenlogo h-18 flex flex-row place-items-center gap-4">
    <a href="/" class="h-full opacity-80"><img src="/images/CodekittenLogo.svg" alt="Codekitten Logo" class="codekitten-logo"></a><p class="text-2xl opacity-90">CODEKITTEN</p>
</div>