<footer class="bg-[var(--color-background-footer)] min-h-[40vh] flex flex-col">
    <div class="w-[90vw] mx-auto grid grid-cols-6 gap-8 flex-1 py-16">
        <div class="col-span-2 flex flex-col gap-4 place-self-center ">
            <p class="text-white/30">{{ tagline_full | safe }}</p>
            {% from "macros/socials.njk" import socials %}
            {{ socials("flex", "") }}
        </div>
        <div class="col-span-2"></div>
        <ul class="col-span-1 flex flex-col gap-4">
            <h2 class="text-lg">Site Links</h2>
            {% for item in sitenav %}
                <li><a class="footer-link" href="{{ item.url }}"{% if item.target %} target="{{ item.target }}"{% endif %}>{{ item.name }}</a></li>
            {% endfor %}
        </ul>
        <ul class="col-span-1 flex flex-col gap-4 ">
            <h2 class="text-lg">Resources</h2>
            <li><a class="footer-link" href="#">Unreal Garden</a></li>
            <li><a class="footer-link" href="#">Tech Art Aid</a></li>
            <li><a class="footer-link" href="#">Codekitten x Mitosaurus</a></li>
        </ul>
    </div>
    {% include "partials/copyright.njk" %}
</footer>
