    <section class="relative grid h-[92vh] md:h-[80vh] overflow-hidden place-items-center">

        <img src="images/o_Alchemy_BG_No_FG.jpg" alt="" aria-hidden="true" class="absolute inset-0 w-full h-full object-cover object-center opacity-[var(--opacity-background)] mask-b-from-10% mask-b-to-80% pointer-events-none" />
        
        <img id="shaderwitch" src="images/o_Shader_Witch_White.png" class="fade-in layer scale-[0.9] md:scale-[1] lg:translate-x-[15%] translate-y-[40%] md:translate-y-[35%] lg:translate-y-[18%] md:mask-b-from-35% mask-b-from-30% md:mask-b-to-75% mask-b-to-65% " />

        <div class="relative grid grid-cols-2 w-full max-w-xl z-10 mt-[-50%] lg:max-w-5xl lg:mt-[6%]">
            <div class="flex flex-col  col-span-2 lg:col-span-1 text-center lg:text-left px-10 md:px-0">
                <h1>Hi, I'm Alessa!</h1>
                <h4>Shader Witch, Technical Artist & cutesie Goth that loves Kittens. <i class="fa-regular fa-heart"></i></h4>
                <i class="place-self-center mt-3 fa-solid fa-angle-down"></i>
            </div>

            <div class="hidden lg:inline-block"><!-- layout only --></div>
        </div>

    </section>