<nav style="font-size: var(--text-nav)" class="flex gap-8 ml-auto list-none items-center">

    {% for item in sitenav %}
        <li class="hidden uppercase lg:inline-block hover-opacity">
            <a href="{{ item.url }}"{% if item.target %} target="{{ item.target }}" rel="noopener noreferrer"{% endif %}>{{ item.name }}</a>
        </li>
    {% endfor %}

    <label for="sidebarToggle" class="inline-block lg:hidden px-4 cursor-pointer">
        <i class="fa-solid fa-bars"></i>
    </label>
</nav>
