<nav style="font-size: var(--text-nav)" class="flex gap-8 ml-auto list-none items-center">
    
    <li class="hidden uppercase lg:inline-block hover-opacity">
        <a href="/">Home</a>
    </li>
    <li class="hidden uppercase lg:inline-block hover-opacity">
        <a href="/shader-witchcraft/">Shader Witchcraft</a>
    </li>
    <li class="hidden uppercase lg:inline-block hover-opacity">
        <a href="/tools-alchemy/">Tools Alchemy</a>
    </li>
    <li class="hidden uppercase lg:inline-block hover-opacity">
        <a target="_blank" rel="noopener noreferrer" href="https://mitosaurus.com/pages/codekitten">Store</a>
    </li>

    <label for="sidebarToggle" class="inline-block lg:hidden px-4 cursor-pointer">
        <i class="fa-solid fa-bars"></i>
    </label>
</nav>
